/* My course card and wrapper - started  */
.dis-all-course-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 29px;
}

.dis-course-card {
    max-width: 271px;
    margin: auto;
    box-shadow: 0px 0px 25px 0px #78AEBF26;
    padding: 12px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dis-course-card a.dis-course-thumb p {
    height: 151px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.dis-course-card a.dis-course-thumb p img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dis-course-card p.dis-course-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.dis-course-card .dis-course-meta span {
    color: #233838;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.dis-course-card a.dis-course-title h3 {
    color: #144345;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 0 15px 0;
}

.dis-course-card p.dis-course-price_and_rating {
    background-color: #13B0D11A;
    padding: 11px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
}

.dis-course-card p.dis-course-price_and_rating span.dis-course-price {
    display: flex;
    align-items: end;
    gap: 4px;
}

.dis-course-card p.dis-course-price_and_rating span.dis-course-price ins {
    color: #18B5D7;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}

.dis-course-card p.dis-course-price_and_rating span.dis-course-price del {
    color: rgba(69, 103, 104, 0.80);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}

.dis-course-card p.dis-course-price_and_rating span.dis-course-rating {
    color: #144345;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dis-course-card p.dis-course-price_and_rating span.dis-course-rating .dis-course-stars {
    display: flex;
    align-items: center;
    gap: 1px;
}

.dis-course-card p.dis-course-price_and_rating span.dis-course-rating .dis-course-stars i {
    font-size: 12px;
    color: #FFBE00;
}

.dis-course-card p.dis-course-btns {
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid #B2B2B2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dis-course-card p.dis-course-btns a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    padding: 11px 5px;
    border: 1px solid #18B5D7;
    overflow: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all linear 0.1s;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -ms-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
}

.dis-course-card p.dis-course-btns a.dis-course-details-btn {
    color: #00A298;
    background-color: transparent;
}

.dis-course-card p.dis-course-btns a.dis-course-add-btn {
    color: #FFF;
    background-color: #18B5D7;
}

@media(max-width: 1225px) {
    .dis-all-course-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 655px) {
    .dis-all-course-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* My course card and wrapper - ended  */


/* Nabil bro's card and wrapper - started */
.dis-all-course-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    place-items: center;
}

.dis-course-card {
    overflow: hidden;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgba(105, 141, 152, 0.15);
    transition: all 0.3s ease;
}

.dis-course-card:hover {
    box-shadow: 0px 0px 20px rgba(105, 141, 152, 0.35);
}

.dis-course-card .popular_thumb img {
    max-width: 100%;
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
}

.dis-course-card .dis-popular__contents .dis-course_meta {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1px;
}

.dis-course-card .dis-popular__contents .dis-course_meta .course_meta {
    display: flex;
    align-items: center;
    gap: 9px
}

.dis-course-card .dis-popular__contents .dis-course_meta .course_meta i {
    font-size: 16px;
    color: #233838;
    margin-right: 8px;
}

.dis-course-card .dis-popular__contents .dis-course_meta .course_meta span {
    color: #233838;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.dis-course-card .dis-popular__contents .popular_title h2 {
    margin: 0;
    color: #144345;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
}

.dis-course-card .dis-popular__contents .popular_title h2 a {
    color: inherit;
    font-weight: inherit;
}

.dis-course-card .dis-popular__contents .dis-rating__container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.dis-course-card .dis-popular__contents .popular_price strong {
    display: flex;
    gap: 4px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: start;
    font-family: "Open Sans", sans-serif;
}

.dis-course-card .dis-popular__contents .popular_price strong bdi {
    display: flex;
}

.dis-course-card .dis-popular__contents .popular_price strong ins span {
    color: #18b5d7;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.dis-course-card .dis-popular__contents .popular_price strong del {
    color: rgba(69, 103, 104, 0.8);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.dis-course-card .dis-popular__contents .popular_price strong del span {
    color: inherit;
    font-size: inherit;
    font-size: inherit;
}

.dis-course-card .dis-popular__contents .popular_price .woocommerce-price-suffix {
    display: none;
}

.dis-course-card .dis-popular__contents .dis-box_style {
    padding: 13px 10px;
    border-radius: 7px;
    background: rgba(19, 176, 209, 0.1);
}

.dis-course-card>hr {
    background: #b2b2b2;
    opacity: 0.5;
    margin-bottom: 16px;
}

.dis-course-card .dis-course__end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dis-course-card .dis_popular_btn {
    display: inline-block;
    padding: 12px 25px 12px 25px;
    border-radius: 7px;
    border: 1px solid #00a298;
    background: transparent;
    color: #00a298;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: center;
    transition: all 0.3s ease;
}

.dis-course-card .dis_popular_btn:hover {
    background: #00a298;
    color: #fff;
}

.dis-course-card .dis_addCart_btn {
    display: inline-block;
    padding: 12px 23px;
    border-radius: 7px;
    background: #18b5d7;
    border: 1px solid #18b5d7;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: center;
    transition: all 0.3s ease;
}

.dis-course-card .dis_addCart_btn:hover {
    background: transparent;
    color: #18b5d7;
}

.dis_popular-course .dis-ratings,
.dis_popular-course .dis-ratings .bp_filled_stars {
    color: #ffbe00;
}

.dis_popular-course .bp_filled_stars:before,
.dis_popular-course .bp_blank_stars:before {
    font-size: 14px;
}

.dis-course-card .popular_thumb {
    position: relative;
}

.dis-course-card .popular_thumb::before {
    position: absolute;
    display: block;
    content: "";
    background: linear-gradient(85deg, rgba(255, 255, 255, 0.00) -47.77%, rgba(255, 255, 255, 0.40) 91.5%, rgba(255, 255, 255, 0.15) 111.4%);
    filter: blur(2.5px);
    width: 28px;
    height: 195px;
    transform: rotate(23.47deg);
    top: -10%;
    left: -20%;
    transition: all 0.6s ease;
}

.dis-course-card:hover .popular_thumb::before {
    left: 120%;
}

@media (max-width: 1207px) {
    .dis-all-course-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 615px) {
    .dis-all-course-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 767px) and (max-width: 843px) {
    .dis-course-card .dis_popular_btn {
        padding: 11px 15px
    }

    .dis-course-card .dis_addCart_btn {
        padding: 11px 15px
    }
}

/* Nabil bro's card and wrapper - ended */